.hero-container {
  background-image: url('../../../public/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 28px 48px;
  display: flex;
  justify-content: space-between;
  height: 60vh;
  align-items: center;
}

.right-cont {
  flex-basis: 49%;
}

.hero-heading {
  font-size: 60px;
  font-weight: 700;
  line-height: 68.4px;
  text-align: left;
  color: #ffffff;
  margin: 0 !important;
}

.hero-btn {
  margin-top: 12px;
  padding: 10.67px 18.67px;
}

.left-cont {
  flex-basis: 49%;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.left-cont img{
  width: 100%;
    margin-top: 70px;
}

.background-video {
  position: absolute;
  width: 75%;
  height: 70vh;
  object-fit: cover;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.center-image {
  position: relative;
  z-index: 1;
  height: auto;
}

.offer-section {
  background: rgba(255, 255, 255, 0);
  padding: 0px 48px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: auto;
  position: absolute;
  bottom: -200px;
}

.offer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.offer-section .offer-card img{
  width: 100px;
  height: 100px;
}

.offer-card h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 52.8px;
  text-align: center;
  color: black;
  margin: 0px;
}

.offer-card p {
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  color: rgba(177, 177, 177, 1);
  margin: 0px;
}

.facilities {
  display: flex;
  padding: 28px 48px;
  justify-content: space-between;
  margin-top: 250px;
}
